body {
  overflow-x: hidden;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 12px;
}

img {
  height: auto;
  max-width: 100%;
}

input[type=text], select {
  width: 95%;
  padding: 5px 11px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.clear:before,
.clear:after {
  content: " ";
  display: table;
}

.clear:after {
  clear: both;
}

.shortcuts {
  position: relative;
  top: 30px;
  right: 35px;
}

.shortcuts ul {
  list-style-type: none;
}

.shortcuts li {
  display: inline-block;
}

.main-header {
  width: 995px;
  padding: 0;
  position: relative;
  max-width: 995px;
  margin: 0 auto;
  overflow: hidden;
}

.header-content {
  position: relative;
  height: 112px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 35px;
}

.header-content #logo-pais {
  width: 100px;
  top: 4px;
  left: 4px;
  overflow: hidden;
  z-index: 1;
  display: block;
  position: absolute;
}

.header-content ul {
  margin: 0;
  list-style-type: none;
}

#logo-smoda {
  width: 50px;
}

.logo {
  border-bottom: 0;
  padding: 0 12px;
  margin: 0;
  position: absolute;
  top: -32px;
  left: 457px;
  z-index: 1;
}

.nav-level-1 {
  font-size: 19px;
  position: absolute;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  height: 27px;
  line-height: 26px;
  display: block;
}

.nav-level-1 .one {
  margin-left: -16px;
  text-align: right;
  width: 472px;
  float: left;
}

.nav-level-1 li {
  display: inline-block;
  height: 29px;
}

.nav-level-1 .two {
  margin-left: 51px;
  width: 472px;
  float: left;
}

.wrapper {
  width: 995px;
  clear: both;
  margin: 0 auto;
}

.container_left {
  width: calc(100% - 360px);
  float: left;
}

.container_left p a {
  color: #ff3385;
}

.block_comments {
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
  padding: 10px;
  height: auto;
  min-height: 100px;
}

.border-top {
  border-top: 1px solid #b3b3b3;
}

.profile-img {
  float: left;
}

.profile-info {
  padding-bottom: 40px;
  position: relative;
  left: 10px;
  line-height: 10px;
  top: 10px;
}

.txt-strong {
  font-weight: bolder;
}

.txt-light {
  color: #999;
}

.block_comments #no-profile {
  width: 70px;
}

.block_comments #reply {
  text-align: right;
  display: block;
  text-decoration: none;
  color: #0039e6;
}

.container_right {
  width: 320px;
  float: right;
  clear: right;
}

.block-sidebar-1 {
  border-left: 4px solid #e6e6e6;
}

.block-sidebar-1 p.txt-light {
  margin-left: 10px;
}

.container_right .txt-sidebar {
  padding-left: 10px;
  font-weight: bolder;
}

.block-sidebar-2 {
  margin-left: 4px;
}

.block-sidebar-2 ul {
  padding-left: 15px;
}

.block-sidebar-2 li {
  line-height: 20px;
}

.sidebar-title {
  font-size: 15px;
  font-style: italic;
}

.half-block {
  box-sizing: border-box;
  width: 50%;
  float: left;
}

.post_comment label {
  display: block;
  position: relative;
  top: 10px;
}

.post_comment #full-input {
  width: 100%;
}

.option_section label {
  margin-bottom: 10px;
}

.option_section textarea {
  width: 100%;
  height: 80px;
}

.option_section .btn-post {
  border-radius: 0px;
  width: 150px;
  height: 30px;
  line-height: 0;
  font-size: 12px;
  font-weight: bolder;
}

footer {
  border-top: 2px solid #bebebe;
  border-bottom: 5px solid #bebebe;
  margin-bottom: 20px;
  margin-top: 20px;
}

footer ul {
  text-align: center;
  list-style-type: none;
  margin: 5px 0;
  padding: 0;
}

footer li {
  font-weight: bolder;
  display: inline-block;
  padding: 0 2%;
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 992px) {
}